.welcomeTitle h2 {
  font-size: 2.5em;
}

@media (min-width: 750px) and (min-height: 500px) {
  .welcomeTitle h2 {
    font-size: 5em;
  }
}

@media (max-height: 630px) {
  .startButtonHome button {
    padding: 5px 15px;
  }
}
