.modal {
  max-width: 90vw;
  max-height: 80vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto auto auto;
  padding: 40px 20px;
  background-color: rgb(34, 25, 84);
  border-radius: 10px;
  z-index: 2;
}

.modal h3 {
  text-align: center;
}

.modal .col-left {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0px;
}

.modal .profileP {
  margin-left: 10px;
  margin-top: 10px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}

.modal li {
  font-size: 20px;
}
.modal .subItem {
  font-size: 12px !important;
  color: rgba(255, 255, 255, 0.643);
}
.modalContainer {
  position: relative;
}

.modal button {
  position: absolute;
  bottom: 0;
  color: #f8e112;
  border-color: #f8e112;
  font-weight: bold;
  margin-top: 20px;
}

.modal p {
  color: #444;
  font-weight: bold;
}

@media (max-width: 600px) {
  .modal .col-left {
    border-right: 0px solid rgba(255, 255, 255, 0.2);
    padding: 0px;
  }

  .modal li,
  i {
    font-size: 12px;
  }
  .modal .subItem {
    font-size: 10px !important;
    color: rgba(255, 255, 255, 0.643);
  }
}
@media (max-height: 800px) and (min-width: 700px) {
}
