.container {
  height: 100%;
}
.base-container {
  height: 100%;
}

.base-container .RowTitle {
  height: 25%;
}
.base-container .RowBase {
  height: 50%;
}

.base-container .RowBase ul {
  width: 330px;
}
.base-container .RowBase li {
  cursor: pointer;
  font-size: 40px;

  padding-bottom: 20px;
}
.base-container .RowButton {
  height: 30%;
}

@media (max-width: 600px) {
  .base-container .RowBase ul {
  }
}
