header {
  display: flex;
  position: fixed;
  width: 100%;
  padding: 10px;
  align-items: center;
}
.titleContainetHeader {
  align-items: center;
}
.profileP {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}

.title h1 {
  flex-grow: 1;
  margin-left: 20px;
  font-size: 2em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 10px;
}
/* Tamaño reducido para dispositivos móviles */
@media (max-width: 450px) {
  .title h1 {
    font-size: 1em;
  }
  .profileP {
    width: 85px;
    height: 85px;
  }
}

@media (max-height: 600px) {
  .subtitleFooter {
    opacity: 0;
    visibility: hidden;
  }
  .profileP {
    width: 85px;
    height: 85px;
  }
  .title h1 {
    font-size: 1em;
  }
}
@media (max-height: 275px) {
  .titleContainetHeader {
    align-items: flex-start;
    margin-top: 10px;
  }
}
