.container {
  height: 100%;
}
.portfolio-container {
  height: 100%;
}

.portfolio-container .RowTitle {
  height: 25%;
}
.portfolio-container .RowBase {
  height: 50%;
}

.portfolio-container .RowBase ul {
  width: 330px;
}
.RowBase li {
  cursor: pointer;
  font-size: 30px;
  padding-bottom: 10px;
}
.portfolio-container .RowButton {
  height: 30%;
}

@media (max-width: 600px) {
  .portfolio-container .RowBase li {
    font-size: 20px;
    padding-bottom: 15px;
  }
  .portfolio-container .RowBase ul {
    width: 260px;
  }
}
@media (max-height: 800px) and (min-width: 700px) {
  .portfolio-container .RowBase li {
    font-size: 20px;
    padding-bottom: 0px;
  }
  .portfolio-container .RowBase ul {
    width: 260px;
  }
  .portfolio-container .RowBase {
    height: 180px;
  }
  .portfolio-container .RowTitle {
    height: auto;
  }
}
