.portfolio-li {
  font-size: 2em;
}
.portfolio-li li {
  padding: 10px;
}
.portafolioButton {
  margin-top: 20px;
}

@media (max-width: 600px) {
  .portfolio-li {
    font-size: 1.6em;
  }
  .portfolio-li li {
    padding: 8px;
  }
}

@media (max-height: 600px) {
  .portfolio-li {
    font-size: 1.3em;
  }
  .portfolio-li li {
    padding: 5px;
  }
}

@media (max-height: 395px) {
  .portfolioButton {
    padding: 2px 10px;
    font-size: 0.7em;
    margin-bottom: 5px;
  }
  .portfolio-li li {
    padding: 3px;
  }
  .portfolio-li {
    font-size: 0.9em;
  }
}
